<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.parttime"
		>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>

	<application
			android:name=".Application.GraduationApp"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			>
		<activity android:name=".Activity.Common.SplashActivity_">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".Activity.User.MainActivity_"/>
		<activity android:name=".Activity.User.ChangeInfoActivity_">
		</activity>
		<activity android:name=".Activity.User.UserInfoDetailsActivity_">
		</activity>
		<activity android:name=".Activity.User.MyPartTimeJobActivity_">
		</activity>
		<activity android:name=".Activity.Common.FeedBackActivity_">
		</activity>
		<activity android:name=".Activity.User.MyCollectionActivity_">
		</activity>
		<activity android:name=".Activity.Common.LoginActivity_">
		</activity>
		<activity android:name=".Activity.Common.RegisterActivity_">
		</activity>
		<activity android:name=".Activity.Company.CompanyInfoDetailsActivity_">
		</activity>
		<activity android:name=".Activity.Company.CompanyInfoChangeActivity_">
		</activity>
		<activity android:name=".Activity.User.JobDetailsActivity_">
		</activity>
		<activity android:name=".Activity.User.SignUpConfirmActivity_">
		</activity>
		<activity android:name=".Activity.Company.MainActivity_">
		</activity>
	</application>

</manifest>
